{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Всегда первым идет jquery, потом все кастомные скрипты-->
    <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  
    <!-- Шрифт Roboto, шрифт всегда должен быть перед подключением css файла -->
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet"> -->
  
    <link rel="stylesheet" type="text/css" href="{% static 'slider.css' %}">
  
    <!-- Мой файл javascript -->
    <script type="text/javascript" src="{% static 'custom.js' %}"></script>
  
          <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/25aa5b4562.js" crossorigin="anonymous"></script>
  
        <!-- Bootstrap 5-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  
        <!-- MDB -->
        <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/> -->
        <!-- MDB -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
  
    <!-- Отрытие картинки на детальной странице товара на максимум -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
</head>
<body>

    <div class="main-container">
        <div class="container" style="padding-top:50px;">
            <div class="owl-demo">
            <!-- <div class="slide-progress"></div> -->
            <div id="myCarousel" class="owl-carousel owl-theme">
                <div class="item owl-lazy" data-src="https://picsum.photos/991/601/?random">
                <div class="sliderContent">
                    <div class="sliderContentInner">
                    <i class="fab fa-android"></i>
                    <h3>Here is an Awesome Headline Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium accusamus suscipit natus voluptates</p>
                    <p><a href="#" class="btn btn-default">LEARN MORE</a></p>
                    </div>
                </div>
                </div>
                <div class="item owl-lazy" data-src="https://picsum.photos/991/602/?random">
                <div class="sliderContent">
                    <div class="sliderContentInner">
                    <i class="fab fa-apple"></i>
                    <h3>Here is an Awesome Headline</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium accusamus suscipit natus voluptates</p>
                    <p><a href="#" class="btn btn-default">LEARN MORE</a></p>
                    </div>
                </div>
                </div>
                <div class="item owl-lazy" data-src="https://picsum.photos/991/603/?random">
                <div class="sliderContent bgLight">
                    <div class="sliderContentInner">
                    <i class="fab fa-windows"></i>
                    <h3>Here is Another Awesome Headline</h3>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, laudantium accusamus suscipit natus voluptates</p>
                    <p><a href="#" class="btn btn-default">LEARN MORE</a></p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>











    <script type="text/javascript">
        jQuery(document).ready(function(){
 
        //Initiate the slider
        initSlider();
        function initSlider() {
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            animateOut: 'fadeOut',
            autoHeight: false,
            autoplay: true,
            autoplayTimeout: 6000,
            autoplayHoverPause: true,
            dots: true,
            lazyLoad: true,
            onDrag: stopSlider
            // onInitialized: startProgressBar,
            // onTranslate: resetProgressBar,
            // onTranslated: startProgressBar
        });
        }
        
        // When the slider is dragged it will be stopped
        function stopSlider(event) {
        var heroPeepsSlider = $('#myCarousel');  
        heroPeepsSlider.trigger('stop.owl.autoplay'); 
        }

        // Progress Bars
        function startProgressBar() {
        $(".slide-progress").css({
            width: "100%",
            transition: "width 6000ms"
        });
        }
        function resetProgressBar() {
        $(".slide-progress").css({
            width: 0,
            transition: "width 0s"
        });
        }
        });

        // Add Keyboard Functionality
        jQuery(document).keyup(function (event) {    
        var heroPeepsSlider = jQuery("#myCarousel");
        // handle cursor keys
        heroPeepsSlider.trigger('stop.owl.autoplay');
        if (event.keyCode == 37) {
            // go left
            heroPeepsSlider.trigger('prev.owl.carousel');
        } else if (event.keyCode == 39) {
            // go right
            heroPeepsSlider.trigger('next.owl.carousel');
        }
        });
    </script>
</body>
</html>

{% endblock %}